doctype html

html
head
  link(rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css")
  script(src="//code.jquery.com/jquery-2.1.4.min.js")
  script(src="/semantic/dist/semantic.min.js")

  style.
    li a.del { display: none; }
    li:hover a.del { display: inline; }

  title= title

body
  div.ui.container
    block content
