doctype html

html
head
  link(rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css")
  script(src="//code.jquery.com/jquery-2.1.4.min.js")
  script(src="/semantic/dist/semantic.min.js")

  style.
    body > .ui.container { padding-top: 2em }
    body .ui.list.directories { padding-top: 3.25em }

  title= title

body
  div.ui.container
    block content
